# Prepare the data for modeling by splitting into Train/validate and Test data

In [1]:
#Read the CSV containing 629 features
import pandas as pd

df= pd.read_csv('quora-question-pairs/final_features.csv')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Columns: 628 entries, id to 299_y
dtypes: float64(614), int64(14)
memory usage: 1.9 GB

In [21]:
df.head()

,id,is_duplicate,cwc_min,cwc_max,csc_min,csc_max,ctc_min,ctc_max,last_word_eq,first_word_eq,...,290_y,291_y,292_y,293_y,294_y,295_y,296_y,297_y,298_y,299_y
0,0,0,0.999980,0.833319,0.999983,0.999983,0.916659,0.785709,0.0,1.0,...,-17.810438,7.231024,1.531186,-7.528823,0.473802,-11.864658,-11.293788,1.866265,3.616046,11.971096
1,1,0,0.799984,0.399996,0.749981,0.599988,0.699993,0.466664,0.0,1.0,...,23.015827,3.435464,-5.169600,7.102491,34.516881,6.177686,-27.770856,12.926435,-4.564559,33.919834
2,2,0,0.399992,0.333328,0.399992,0.249997,0.399996,0.285712,0.0,1.0,...,-24.310109,-1.216773,11.909693,9.591573,11.846737,1.397859,6.454157,-0.271460,-12.500337,27.634567
3,3,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,-5.435584,1.672591,-0.863278,-2.906553,-3.466688,-3.867892,-4.249463,-12.551012,4.494087,-6.223341
4,4,0,0.399992,0.199998,0.999950,0.666644,0.571420,0.307690,0.0,1.0,...,-10.407441,-8.444207,-14.450059,-12.709382,-4.449050,12.563987,-11.721362,-16.459300,3.626297,-9.790615

In [25]:
df.shape

(404290, 627)

In [23]:
df=df.drop('id', axis=1)
#Checking whether there are any rows with null values
nan_rows = df[df.isnull().any(1)]
df = df.dropna( how='any',
                    subset=['is_duplicate'])

In [24]:
df.head()

,is_duplicate,cwc_min,cwc_max,csc_min,csc_max,ctc_min,ctc_max,last_word_eq,first_word_eq,abs_len_diff,...,290_y,291_y,292_y,293_y,294_y,295_y,296_y,297_y,298_y,299_y
0,0,0.999980,0.833319,0.999983,0.999983,0.916659,0.785709,0.0,1.0,2.0,...,-17.810438,7.231024,1.531186,-7.528823,0.473802,-11.864658,-11.293788,1.866265,3.616046,11.971096
1,0,0.799984,0.399996,0.749981,0.599988,0.699993,0.466664,0.0,1.0,5.0,...,23.015827,3.435464,-5.169600,7.102491,34.516881,6.177686,-27.770856,12.926435,-4.564559,33.919834
2,0,0.399992,0.333328,0.399992,0.249997,0.399996,0.285712,0.0,1.0,4.0,...,-24.310109,-1.216773,11.909693,9.591573,11.846737,1.397859,6.454157,-0.271460,-12.500337,27.634567
3,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,2.0,...,-5.435584,1.672591,-0.863278,-2.906553,-3.466688,-3.867892,-4.249463,-12.551012,4.494087,-6.223341
4,0,0.399992,0.199998,0.999950,0.666644,0.571420,0.307690,0.0,1.0,6.0,...,-10.407441,-8.444207,-14.450059,-12.709382,-4.449050,12.563987,-11.721362,-16.459300,3.626297,-9.790615

In [26]:
df.shape

(404290, 627)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Columns: 627 entries, is_duplicate to 299_y
dtypes: float64(614), int64(13)
memory usage: 1.9 GB

In [8]:
print(df)

            id  is_duplicate   cwc_min   cwc_max   csc_min   csc_max  \
0            0             0  0.999980  0.833319  0.999983  0.999983
1            1             0  0.799984  0.399996  0.749981  0.599988
2            2             0  0.399992  0.333328  0.399992  0.249997
3            3             0  0.000000  0.000000  0.000000  0.000000
4            4             0  0.399992  0.199998  0.999950  0.666644
...        ...           ...       ...       ...       ...       ...
404285  404285             0  0.857131  0.857131  0.999980  0.833319
404286  404286             1  0.666644  0.666644  0.599988  0.599988
404287  404287             0  0.999900  0.499975  0.999950  0.666644
404288  404288             0  0.000000  0.000000  0.124998  0.099999
404289  404289             0  0.999967  0.999967  0.999980  0.714276

         ctc_min   ctc_max  last_word_eq  first_word_eq  ...      290_y  \
0       0.916659  0.785709           0.0            1.0  ... -17.810438
1       0.699993  0.466664           0.0            1.0  ...  23.015827
2       0.399996  0.285712           0.0            1.0  ... -24.310109
3       0.000000  0.000000           0.0            0.0  ...  -5.435584
4       0.571420  0.307690           0.0            1.0  ... -10.407441
...          ...       ...           ...            ...  ...        ...
404285  0.846147  0.785709           1.0            1.0  ...  -4.517748
404286  0.624992  0.555549           1.0            0.0  ...  -6.662916
404287  0.749981  0.749981           1.0            1.0  ...  -4.166005
404288  0.058823  0.040000           0.0            0.0  ... -38.601597
404289  0.999988  0.799992           1.0            1.0  ...   1.504366

            291_y      292_y      293_y      294_y      295_y      296_y  \
0        7.231024   1.531186  -7.528823   0.473802 -11.864658 -11.293788
1        3.435464  -5.169600   7.102491  34.516881   6.177686 -27.770856
2       -1.216773  11.909693   9.591573  11.846737   1.397859   6.454157
3        1.672591  -0.863278  -2.906553  -3.466688  -3.867892  -4.249463
4       -8.444207 -14.450059 -12.709382  -4.449050  12.563987 -11.721362
...           ...        ...        ...        ...        ...        ...
404285 -18.560418 -15.261409  28.221826   6.280114  -0.967142 -15.913810
404286  -2.581293  -3.295464  -5.379675  -1.872874   0.171842  -7.559502
404287   5.889293  -1.410445  -0.381712   6.317660   0.540569  -5.447637
404288   7.719136  -0.897512 -37.066486 -13.326383  -4.241098 -10.565295
404289   3.050847  -5.617737   1.924954   3.398323   0.795098  -4.906984

            297_y      298_y      299_y
0        1.866265   3.616046  11.971096
1       12.926435  -4.564559  33.919834
2       -0.271460 -12.500337  27.634567
3      -12.551012   4.494087  -6.223341
4      -16.459300   3.626297  -9.790615
...           ...        ...        ...
404285 -20.430986  -8.358597  16.773518
404286   2.001276   1.882488  -2.162254
404287  -2.441280   1.669129   4.404100
404288 -15.832745   9.215359  24.344125
404289  -3.413819   1.450698   6.983046

[404290 rows x 628 columns]

In [28]:
#Split the dataset into 80:20 using stratify
from sklearn.model_selection import train_test_split
x = df
y = df['is_duplicate']
x_train, x_test, y_train,y_test = train_test_split(x, y, test_size = 0.2,  stratify = y)

In [10]:
print(x_train)

            id  is_duplicate   cwc_min   cwc_max   csc_min   csc_max  \
53800    53800             0  0.199996  0.199996  0.799984  0.666656
249101  249101             1  0.499992  0.374995  0.333322  0.142855
378421  378421             0  0.714276  0.416663  0.666656  0.444440
337308  337308             0  0.749981  0.499992  0.749981  0.499992
159637  159637             1  0.599988  0.499992  0.499975  0.249994
...        ...           ...       ...       ...       ...       ...
62266    62266             0  0.666644  0.666644  0.999900  0.999900
124500  124500             1  0.999950  0.666644  0.499992  0.499992
139427  139427             1  0.749981  0.749981  0.399992  0.333328
103391  103391             1  0.999975  0.799984  0.999983  0.857131
282862  282862             1  0.714276  0.454541  0.749981  0.428565

         ctc_min   ctc_max  last_word_eq  first_word_eq  ...      290_y  \
53800   0.454541  0.454541           0.0            0.0  ...  -1.797216
249101  0.363633  0.307690           1.0            0.0  ... -20.596604
378421  0.692302  0.428569           0.0            1.0  ... -14.538756
337308  0.749991  0.461535           0.0            1.0  ...  -1.810109
159637  0.571420  0.399996           1.0            0.0  ...   4.226391
...          ...       ...           ...            ...  ...        ...
62266   0.749981  0.749981           0.0            1.0  ...  -2.403730
124500  0.624992  0.555549           1.0            0.0  ...  -7.564909
139427  0.555549  0.499995           1.0            0.0  ... -10.379461
103391  0.909083  0.909083           1.0            1.0  ...  -2.436100
282862  0.666661  0.363635           0.0            0.0  ... -48.666490

            291_y      292_y      293_y      294_y      295_y      296_y  \
53800    3.583827   0.500455  -6.296578   5.451643  -0.838161  -3.716903
249101   7.164331  11.037712   0.875133  -9.278126   9.769617  -2.487253
378421  16.149945   1.339770 -11.929250   8.840551  -5.833124   0.677829
337308  -6.451621  -7.469184   2.106274  -4.138442   2.587828  -5.401663
159637 -14.010985  -1.434816   3.472896   8.211734  10.233847 -17.521447
...           ...        ...        ...        ...        ...        ...
62266   -0.747126  -3.032302   5.298168   8.658228  10.090792   4.123307
124500   1.566859  -0.924407  -3.206533   1.142305  -4.315926  -4.869722
139427   7.248982  -3.212677  -1.995591   5.047047  -1.158062  -7.699078
103391  -0.546802  -7.237524  -3.940507   5.644420  -4.367912  -6.967519
282862   3.778171  19.551352   3.132560 -26.351102   4.900905  -3.667037

            297_y     298_y      299_y
53800   -5.709349 -5.681958   7.407977
249101  -8.561630  0.180978   8.937574
378421   0.581147  0.830494  14.444403
337308  -4.858201 -2.348698   8.004075
159637   4.450661 -8.115997  12.652159
...           ...       ...        ...
62266   -3.167442 -2.094051   5.124231
124500  -3.193114  2.760553   7.153181
139427  -0.250400  2.249155   2.886154
103391  -4.221592  1.542687   6.954859
282862 -14.500899 -3.952836  15.539787

[323432 rows x 628 columns]

In [11]:
print(x_test)

            id  is_duplicate   cwc_min   cwc_max   csc_min   csc_max  \
351104  351104             0  0.499988  0.399992  0.571420  0.444440
342101  342101             0  0.428565  0.428565  0.249994  0.142855
380686  380686             0  0.999950  0.999950  0.999983  0.749991
11880    11880             1  0.999950  0.999950  0.333322  0.333322
381325  381325             0  0.666644  0.666644  0.999975  0.999975
...        ...           ...       ...       ...       ...       ...
190705  190705             0  0.499975  0.333322  0.999950  0.499988
286302  286302             0  0.666644  0.166665  0.999900  0.199996
107435  107435             0  0.333322  0.199996  0.000000  0.000000
207212  207212             1  0.599988  0.599988  0.799984  0.799984
269662  269662             1  0.499975  0.499975  0.249994  0.199996

         ctc_min   ctc_max  last_word_eq  first_word_eq  ...      290_y  \
351104  0.545450  0.428568           0.0            1.0  ...  -8.945217
342101  0.363633  0.285712           0.0            0.0  ...  -4.177251
380686  0.888879  0.799992           1.0            1.0  ... -12.861859
11880   0.599988  0.599988           1.0            1.0  ...  -3.997199
381325  0.857131  0.857131           0.0            1.0  ... -11.202202
...          ...       ...           ...            ...  ...        ...
190705  0.749981  0.428565           0.0            1.0  ...  -3.406029
286302  0.749981  0.157894           0.0            0.0  ... -35.046766
107435  0.249994  0.124998           0.0            0.0  ...  -6.889684
207212  0.699993  0.636358           1.0            1.0  ...  -8.516074
269662  0.333328  0.285710           1.0            0.0  ...  -1.115888

            291_y      292_y      293_y     294_y      295_y      296_y  \
351104   2.919836  -3.344485   2.518149  6.560335  10.230871  -1.167893
342101 -10.174009  -2.316328  -0.463056  4.413706 -13.375566  -9.342771
380686   4.410374   0.100452   0.167157 -0.904264   5.616311   0.422103
11880    0.033783  -3.813697  -6.208509  4.601225  -3.665753  -2.699403
381325 -11.914090  -0.583288 -13.148225  6.347333  -1.525266 -14.534276
...           ...        ...        ...       ...        ...        ...
190705  -3.648346   5.981799   6.219241  0.168401 -10.550232   0.952216
286302  13.518659 -17.034986 -27.220346  7.644596  13.399963   4.247744
107435  -3.906458   5.132626  -9.850716 -3.810499  -4.607378  -0.766182
207212  -3.892191 -17.885886   7.806050  3.314184  -8.065044  -1.140401
269662  -3.149899  -1.521567   3.046563  5.938338  -0.783090  -2.676622

           297_y      298_y      299_y
351104  0.570337   0.712850   0.952533
342101  1.864170  15.848700  -5.174580
380686 -5.261885   5.969146  11.976099
11880  -1.155812   1.655333   0.005197
381325 -1.789781  -4.024841   2.626419
...          ...        ...        ...
190705  5.923167  -9.538558   6.858535
286302 -2.294192 -12.219899  26.585420
107435  0.393852  -1.323350   2.329053
207212  3.420513  -4.884372  14.442090
269662  8.515276  -5.197612   5.022087

[80858 rows x 628 columns]

In [29]:
df_train = pd.DataFrame(x_train)
df_test = pd.DataFrame(x_test)

In [30]:
#Save the Training data into Final_Training_V01.csv
df_train.to_csv('Final_Training_V01.csv', index=False , encoding="utf-8")

In [31]:
#Save the Training data into Final_Test_V01.csv
df_test.to_csv('Final_Test_V01.csv', index=False , encoding="utf-8")